<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedisQueue.Net.Clients.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RedisQueue.Net.Clients.Properties.Settings>
            <setting name="RedisHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RedisPort" serializeAs="String">
                <value>6379</value>
            </setting>
            <setting name="TaskRecycling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxTaskRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PurgeSuccessfulTasks" serializeAs="String">
                <value>True</value>
            </setting>
        </RedisQueue.Net.Clients.Properties.Settings>
    </applicationSettings>
</configuration>